<template name="docs">
  <div id="docs">
    <div class="docs-body">
      <div id="nav">
        {{> sidebar}}
      </div>
      <div class="main-content">
        <div id="main">
          {{#if preambleExists}}
            <div id="preamble">
              {{> preamble}}
            </div>
          {{/if}}
          {{#each sections}}
            {{#if type "spacer"}}
              <div class="spacer"> </div>
            {{/if}}
            {{#if type "section"}}
              {{#if depthIs 1}}
                <h1 id="{{name}}">{{name}}</h1>
              {{else}}
                {{> autoApiBox this}}
              {{/if}}
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>

<template name="sidebar">
  <div id="nav-inner">
    {{#if showPreambleToc}}
      <div id="preamble-toc">
        {{> preambleToc}}
      </div>
    {{/if}}
    {{> tableOfContents}}
  </div>
</template>

<template name="dtdd">
  {{! can be used with either one argument (which ends up in the data
      context, or with both name and type }}

  {{#if name}}
    <dt><span class="name" id={{#if id}}{{id}}{{/if}}>{{{name}}}</span>
      {{#if type}}<span class="type">{{type}}</span>{{/if}}
    </dt>
  {{else}}
    <dt><span class="name">{{{.}}}</span></dt>
  {{/if}}
  <dd>{{#markdown}}{{> UI.contentBlock}}{{/markdown}}</dd>
</template>